#include <dt-bindings/zmk/matrix_transform.h> // Put this with the other includes at the top of your overlay
#include "ctrlacc-layouts.dtsi"

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        col-gpios
            = <&xiao_d 0 GPIO_ACTIVE_HIGH>
            , <&xiao_d 1 GPIO_ACTIVE_HIGH>
            , <&xiao_d 2 GPIO_ACTIVE_HIGH>
            , <&xiao_d 3 GPIO_ACTIVE_HIGH>
            , <&xiao_d 4 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};



/ {
    default_transform: &default_transform {
        compatible = "zmk,matrix-transform";
        columns = <5>; // Length of the "col-gpios" array
        rows = <4>; // Length of the "row-gpios" array
        map = <
        //   Key 1 | Key 2 | Key 3 | Key 4 | Key 5
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)
        //   Key 6 | Key 7 | Key 8 | Key 9 | Key 10
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4)
        //   Key 11 | Key 12 | Key 13 | Key 14 | Key 15
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4)
        //   Key 16 | Key 17 | Key 18 | Key 19 | Key 20
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4)
        >;
    };
};

/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
        // zmk,matrix-transform = &default_transform;
        // Other chosen items
    };
};