#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Tues Design CTRL-ACC";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 150  150    0       0     0     0>
            , <&key_physical_attrs 100 150  250    0       0     0     0>
            , <&key_physical_attrs 100 150  350    0       0     0     0>
            , <&key_physical_attrs 100 150  450    0       0     0     0>
            , <&key_physical_attrs 125 100    0  175       0     0     0>
            , <&key_physical_attrs 100 100  150  175       0     0     0>
            , <&key_physical_attrs 100 100  250  175       0     0     0>
            , <&key_physical_attrs 100 100  350  175       0     0     0>
            , <&key_physical_attrs 100 100  450  175       0     0     0>
            , <&key_physical_attrs 125 100    0  275       0     0     0>
            , <&key_physical_attrs 100 100  150  275       0     0     0>
            , <&key_physical_attrs 100 100  250  275       0     0     0>
            , <&key_physical_attrs 100 100  350  275       0     0     0>
            , <&key_physical_attrs 100 100  450  275       0     0     0>
            , <&key_physical_attrs 125 100    0  375       0     0     0>
            , <&key_physical_attrs 100 100  150  375       0     0     0>
            , <&key_physical_attrs 100 100  250  375       0     0     0>
            , <&key_physical_attrs 100 100  350  375       0     0     0>
            , <&key_physical_attrs 100 100  450  375       0     0     0>
            , <&key_physical_attrs 150 100  400  500       0     0     0>
            ;
    };
};
