#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     1     |     2     |     3     |     4     |    ESC    |
            // |     Q     |     W     |     E     |     R     |   LSHFT   |
            // |     A     |     S     |     D     |     F     |   LCTRL   |
            // |     Z     |     X     |     C     |     V     |   SPACE   |
            bindings = <
                &kp PG_UP    &kp PG_UP    &kp PG_DOWN     &kp PG_DOWN    &kp ESCAPE
                &kp Q    &kp W    &kp E     &kp R    &kp LSHFT
                &kp A    &kp S    &kp D     &kp F    &kp LCTRL
                &kp Z    &kp X    &kp C     &kp V    &kp SPACE
            >;
        };
    };
 };